{% extends 'base.html' %}


{% block content %}
<div class="row">
	{% for sneaker in sneakers %}
	<div class="col-md-4">
		<div class="sneaker panel panel-default">
			<div class="sneaker-panel-heading panel-heading">
				<h2 class="panel-title">{{ sneaker.name }}</h2>
			</div>
			<a href="/{{ sneaker.id }}">
				<div class="sneaker-panel panel-body">
					<div class="sneaker-image text-center">
						<img src="{{ sneaker.img_url }}" height="150">
					</div>
				</div>
			</a>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
